<%= link_to ""  "/rooms" do%>
<div class="top">
  <div class="top-title">
    <h1>知らないを知る</h1>
  </div>
  <div class="sub-title">
    <h1>発見に、心躍る</h1>
  </div>
  <div class="serv-title">
    <h2>シェアリング宿泊サービス〜Tom share~</h2>
  </div>
</div>
<% end %>
